<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">CURRICULUM VITAE</a></h2>
				<!-- <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p> -->
			</div>
<!-- 			<div class="meta">
				<time class="published" datetime="2015-11-01">November 1, 2015</time>
				<a href="#" class="author"><span class="name">Jane Doe</span><img src="{{ site.url }}/images/avatar.jpg" alt="" /></a>
			</div> -->
		</header>
<!-- 		<a href="#" class="image featured"><img src="{{ site.url }}/images/pic01.jpg" alt="" /></a> -->
		<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>

		<div>
			<p><em>Download CV</em></p>
			<a href="{{ site.github.url }}/images/modelo_curriculo.jpg" download="curriculo.jpg">
  				<img src="{{ site.github.url }}/images/download-icon.png" alt="Modelo-Curriculo" width="50" height="50">
			</a>
			<p id="credito_flaticon">Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
		</div>


		<footer>
<!-- 			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
			</ul> -->
		</footer>
	</article>
