<!-- Post -->
	<article class="post">
		<header>
			<div class="title">
				<h2><a href="#">CURRICULUM VITAE</a></h2>
				<!-- <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p> -->
			</div>
<!-- 			<div class="meta">
				<time class="published" datetime="2015-11-01">November 1, 2015</time>
				<a href="#" class="author"><span class="name">Jane Doe</span><img src="{{ site.url }}/images/avatar.jpg" alt="" /></a>
			</div> -->
		</header>
<!-- 		<a href="#" class="image featured"><img src="{{ site.url }}/images/pic01.jpg" alt="" /></a> 
		<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>-->

		
		<div>
			<h2>Augusto César Barbosa do Nascimento</h2>
			<ul>
				<li><i class="fas fa-birthday-cake"></i>19/OUT/1993</li>
				<li><i class="fab fa-whatsapp"></i>(61) 9 8659-6361</li>
				<li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/augusttocesar">https://www.linkedin.com/in/augusttocesar</a></li>
				<li><i class="fab fa-github"></i><a href="https://github.com/augusto-san">https://github.com/augusto-san</a></li>
			</ul>

			<hr>

			<h3>Sólidos Conhecimentos em:</h3>
				<ul class="lista-conhecimentos">
					<li><i class="far fa-file-excel"></i>Excel - Macros, Tabelas, Gráficos Dinâmicos, VBA, PowerQuery e Dashboards</li>
					<li><i class="far fa-file-powerpoint"></i>Power Point - Animações, Efeitos, Transições de Slides, Montagem de Apresentações Completas</li>
					<li><i class="far fa-file-code"></i>Linguagem R - Estruturação de dados, Scripts, Algoritmos, Automatização de Processos e Criação de Dashboards</li>
				</ul>

			<hr>

			<h3><i class="fas fa-user-tie"></i>Sobre Mim</h3>
				<p>Sou uma pessoa flexível, Autodidata e Criativa, estou disposto a aprender e evoluir para aprimorar o ambiente em minha volta. Não gosto de esperar que resolvam o problema por mim, sou o tipo de pessoa que busca a solução do problema. Atualmente trabalho como terceirizado do Ministério da Economia no posto de Auxiliar Administrativo, mas exercendo atividades relacionandas à parte de análise, estruturação e limpeza de Dados, estruturação de dashboards e afins. Gosto de Programação, sou o tipo nerd que coloca a mão na massa!</p>

			<hr>

			<h3><i class="fas fa-user-graduate"></i>Formação</h3>
				<ul class="lista-conhecimentos">
					<li><i class="fas fa-angle-right"></i>Bacharel em Administração 3.000h - Faculdade JK, Brasília-DF, 2015</li>
					<li><i class="fas fa-angle-right"></i>Tecnólogo em Análise e Desenvolvimento de Sistemas 3.300h, Estácio/EaD, 2020</li>
				</ul>

			<hr>

			<h3><i class="fas fa-book"></i>Cursos Técnicos</h3>
				<ul class="lista-conhecimentos">
					<li><i class="fas fa-angle-right"></i>Técnico em Informática 188h - Escola Kadoche</li>
					<li><i class="fas fa-angle-right"></i>Curso de Algoritmo, HTML5 e CSS3 40h - Escola Curso em Vídeo</li>
					<li><i class="fas fa-angle-right"></i>Curso online Inglês Extremo 17h - Boa leitura, audição e escrita, pronúncia básica.</li>
				</ul>

		</div>		



		<p class="div_text"><b><i class="far fa-file-pdf"></i>Download do PDF <a href="{{ site.github.url }}/images/curriculo_augusto_cesar.pdf" download="CV - Augusto César.pdf">AQUI</a></b></p>

<!-- 			<div id="div_download">
				<a href="{{ site.github.url }}/images/curriculo_augusto_cesar.pdf" download="CV - Augusto César.pdf">
	  				<img src="{{ site.github.url }}/images/download-icon.png" alt="Modelo-Curriculo" width="50" height="50">
				</a>
			</div>

		<p id="credito_flaticon">Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p> -->


		<footer>
<!-- 			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
			</ul> -->
		</footer>
	</article>
