<!-- Formulario -->
<div class="caixaFormulario">

	<form action="">
		
		<fieldset class="projetoFormulario">
			
			<legend><b>Formulário do Programador</b></legend>
			<br>
			<div class="inputFormulario">
				<input type="text" name="nomeFormulario" id="nomeFormulario" class="inputUserFormulario" required>
				<label for="nomeFormulario">Nome Completo</label>
			</div>

			<div class="inputFormulario">
				<input type="email" name="emailFormulario" id="emailFormulario" class="inputUserFormulario" required>
				<label for="emailFormulario">Email</label>
			</div>

			<div class="inputFormulario">
				<input type="tel" name="foneFormulario" id="foneFormulario" class="inputUserFormulario" required>
				<label for="foneFormulario">Telefone</label>
			</div>
			
				<label>Gênero</label>
				<input type="radio" id="feminino" name="generoFormulario" value="Feminino" required>
				<label for="feminino">Feminino</label>

				<input type="radio" id="masculino" name="generoFormulario" value="Masculino" required>
				<label for="masculino">Masculino</label>

				<input type="radio" id="outros" name="generoFormulario" value="outros" required>
				<label for="outros">Outros</label>
		
			<div class="inputFormulario">
				<label for="nascimentoFormulario"><b>Data de Nascimento</b></label>	
				<input type="date" name="nascimentoFormulario" id="nascimentoFormulario" class="inputUserFormulario" required>
			</div>


		</fieldset>

	</form>

</div>