<!-- Header -->
<header id="header">
	<h1><a href="{{ site.url }}/index">Home</a></h1>
	<nav class="links">
		<ul>
			<li><a href="#">Lorem-Lorem</a></li>
			<li><a href="#">Ipsum-Ipsum</a></li>
			<li><a href="#">Feugiat-Feugiat</a></li>
			<li><a href="#">Tempus-Tempus</a></li>
			<li><a href="#">Adipiscing-Adipiscing</a></li>
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<li class="search">
				<a class="fa-search" href="#search">Pesquisar</a>
				<form id="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</li>
			<li class="menu">
				<a class="fa-bars" href="#menu">Menu</a>
			</li>
		</ul>
	</nav>
</header>