<!-- Main -->
	<div id="main">



		{% if page.url == "" %}
			{% include posts.html %}
			<!-- Pagination -->
<!-- 			<ul class="actions pagination">
				<li><a href="" class="disabled button big previous">Anterior</a></li>
				<li><a href="#" class="button big next">Próxima</a></li>
			</ul> -->

		{% elsif page.url == "/cv/" %}
			{% include cv.html %}


		{% elsif page.url == "/projetos/" %}
			{% include projetos.html %}
			<!-- Pagination -->
<!-- 			<ul class="actions pagination">
				<li><a href="" class="disabled button big previous">Anterior</a></li>
				<li><a href="#" class="button big next">Próxima</a></li>
			</ul> -->

		{% elsif page.url == "/blog/" %}
			{% include blog.html %}
			<!-- Pagination -->
			<ul class="actions pagination">
				<li><a href="" class="disabled button big previous">Anterior</a></li>
				<li><a href="#" class="button big next">Próxima</a></li>
			</ul>

		{% elsif page.url == "/contato/" %}
			{% include contato.html %}


		{% endif %}

	</div>